.label {
  background: linear-gradient(to right, transparent, var(--label-color));
  border-radius: 4px;
  display: block;
  line-height: 30px;
  padding-right: 6px;
  text-align: right;
  white-space: nowrap;
  width: 186px;
}
