.card {
  --digit-size: 24px;
}

.cardRunning {
  --card-color: #00CFD8;
}

.cardIdle {
  --card-color: #FFA700;
}

.cardMaintenance {
  --card-color: #0073FF;
}

.cardFixing {
  --card-color: #FF5064;
}

.cardChecking {
  --card-color: #FF7BF4;
}

.cardOee {
  --card-color: #5EBE43;
}
