:root {
  --grid-gap: 20px;

  --border-color: #227FFD;
  --corner-color: #0087FF;
  --page-bg: #0D136A;
  --title-color: #3DE6FF;
  --text-color: #FFF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.4;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-secondary {
  opacity: .65;
}

.section-title {
  font-size: 18px;
  font-weight: 400;
}

.data-table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

.data-table th {
  background: #10237F;
  font-weight: 400;
  height: 44px;
  opacity: .6;
}

.data-table td {
  border-bottom: 1px solid rgba(255, 255, 255, .35);
  height: 38px;
}
