.label {
  --label-color: #00CC71;
}

.consumptionContainer {
  background: linear-gradient(#003EB6, #001B4E);
  border: 1px solid var(--border-color);
  color: var(--title-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  height: 68px;
  padding: 0 18px;
}

.consumptionValue {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.cardRunning {
  --card-color: #00CFD8;
}

.cardIdle {
  --card-color: #FFA700;
}

.cardMaintenance {
  --card-color: #0073FF;
}

.cardFixing {
  --card-color: #FF5064;
}

.usageChart {
  margin-top: -45px;
}
