.item {
  display: flex;
  align-items: center;
  grid-gap: 6px;
}

.label {
  aspect-ratio: 1;
  background: linear-gradient(var(--label-color-top), var(--label-color-bottom));
  border: 2px solid #343434;
  width: 20px;
}
